@font-face {
	font-family: "freesansbold";
	src: url("../fonts/freesansbold-webfont.woff2") format("woff2"),
		url("../fonts/freesansbold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Akkurat-Mono";
	src: url("../fonts/freesansbold-webfont.woff2") format("woff2"),
		url("../fonts/freesansbold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
