@mixin fontSize($unitSize) {
	font-size: calc(100vmin / 24 * #{$unitSize});
}

@mixin lineHeight($unitSize) {
	line-height: calc(100vmin / 24 * #{$unitSize});
}

@mixin paddingBottom($unitSize) {
	padding-bottom: calc(100vmin / 24 * #{$unitSize});
}

@mixin marginTop($unitSize) {
	margin-top: calc(100vmin / 24 * #{$unitSize});
}

@mixin marginLeft($unitSize) {
	margin-left: calc(100vmin / 24 * #{$unitSize});
}

@mixin height($unitSize) {
	height: calc(100vmin / 25 * #{$unitSize});
}

@mixin width($unitSize) {
	width: calc(100vmin / 25 * #{$unitSize});
}
