@font-face {
  font-family: "Akkurat-Mono";
  src: url("../media/fonts/Akkurat-Mono.woff2") format("woff2"),
    url("../media/fonts/Akkurat-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "freesansbold";
  src: url("../media/fonts/freesansbold-webfont.woff2") format("woff2"),
    url("../media/fonts/freesansbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body {
  height: 100%;
  font-family: "freesansbold", monospace;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
}

.header,
.wrapper,
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header {
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 15vmin;
}

.footer {
  align-items: flex-end;
}
.footer__left {
  display: flex;
  flex-direction: column;
}

.header__left,
.footer__left {
  align-items: flex-start;
}

.header__centre,
.footer__centre {
  align-items: center;
}

.header__right,
.footer__right {
  align-items: flex-end;
}

.date,
.flower-wrapper {
  position: absolute;
  top: 50%;
}

.date {
  left: 0;
  transform-origin: 0% 0%;
  transform: rotateZ(270deg) translateX(-50%);
}

.flower-wrapper {
  transform-origin: 100% 100%;
  transform: rotateZ(270deg) translateX(66.6%);
  right: 0;
}

.flower-wrapper:hover .flower {
  fill: #fff;
}

.flower-wrapper:hover::after {
  opacity: 1;
}

.social-link {
  color: black;
}
.social-link:hover {
  color: #9c153f;
}

.flower {
  height: 5vmin;
  display: block;
  position: relative;
  z-index: 1;
}

.flower-wrapper::after {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #9c153f;
  mix-blend-mode: difference;
}

.velvet-wrapper {
  cursor: pointer;
}

.velvet {
  max-height: 75vmin;
  max-width: 75vmin;
  display: block;
  filter: grayscale(100) contrast(1.5) brightness(1.2);
  will-change: filter;
  transition: all 750ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.velvet-wrapper:hover > .velvet {
  filter: grayscale(0) contrast(1) brightness(1);
}

.index {
  color: #000;
  line-height: 1em;
  font-size: 3em;
  letter-spacing: -0.03em;
  position: relative;
  display: block;
}

.index::after {
  content: "";
  height: 0;
  width: 100%;
  border-bottom: 3px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dead {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 1em;
  padding: 0 10px 0 50px;
}

@keyframes fill {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }
  51% {
    left: initial;
    right: 0;
  }

  100% {
    width: 0;
    right: 0;
  }
}

.dead::after {
  content: "";
  height: 4px;
  width: 0;
  position: absolute;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

.dead:hover::after {
  animation: fill 750ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

span {
  font-family: "Akkurat-Mono", monospace;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.titles {
  font-size: 11px;
  text-align: right;
  line-height: 1.4em;
}

.title {
  display: block;
}

@media all and (min-width: 768px) {
  .velvet {
    max-height: 50vmin;
    max-width: 50vmin;
  }
}
