:root {
	--transitionOpacity: opacity var(--timing) ease;
	--transitionTransform: transform var(--timing) var(--func);
}

.nav {
	padding: 2vmin;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	mix-blend-mode: exclusion;

	&__link {
		display: table;
		color: #fff;
		text-decoration: none;
		opacity: 0.5;
		transition: var(--transitionOpacity);
		letter-spacing: -0.04em;
		mix-blend-mode: inherit;
		line-height: 1;
		font-family: "freesansbold";
		font-size: 8vmin;

		&:hover,
		&--active {
			opacity: 1;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
